/* cspell:ignore scrollbars */
@import 'tailwindcss';

:root {
  --background: oklch(1 0 89.9);
  --foreground: oklch(0.1445 0 89.9);
  --muted: oklch(0.9703 0 89.9);
  --muted-foreground: oklch(0.5555 0 89.9);
  --popover: oklch(1 0 89.9);
  --popover-foreground: oklch(0.1445 0 89.9);
  --card: oklch(1 0 89.9);
  --card-foreground: oklch(0.1445 0 89.9);
  --border: oklch(0.9219 0 89.9);
  --input: oklch(0.9219 0 89.9);
  --primary: oklch(0.4738 0.088 298.5);
  --primary-foreground: oklch(0.9581 0.008 306.9);
  --secondary: oklch(0.4919 0.078 27.8);
  --secondary-foreground: oklch(0.9784 0.004 15);
  --tertiary: oklch(0.2044 0 89.9);
  --tertiary-foreground: oklch(0.9848 0 89.9);
  --accent: oklch(0.9619 0 89.9);
  --accent-foreground: oklch(0.1555 0 89.9);
  --destructive: oklch(0.6368 0.083 25.3);
  --destructive-foreground: oklch(0.9848 0 89.9);
  --ring: oklch(0.7153 0 89.9);
  --radius: 0.5rem;
  --hero-primary: oklch(0.6463 0.068 303.5);
  --hero-primary-foreground: oklch(0.9848 0 89.9);
  --hero-secondary: oklch(0.6292 0.089 25);
  --hero-secondary-foreground: oklch(0.9466 0 89.9);
  --sidebar-background: oklch(0.9848 0 89.9);
  --sidebar-foreground: oklch(0.3705 0.005 285.8);
  --sidebar-primary: oklch(0.2103 0.002 285.9);
  --sidebar-primary-foreground: oklch(0.9848 0 89.9);
  --sidebar-accent: oklch(0.9676 0.001 286.4);
  --sidebar-accent-foreground: oklch(0.2103 0.002 285.9);
  --sidebar-border: oklch(0.9278 0.002 264.5);
  --sidebar-ring: oklch(0.6232 0.075 259.8);
}

.dark {
  --background: oklch(0.1445 0 89.9);
  --foreground: oklch(0.9848 0 89.9);
  --muted: oklch(0.2686 0 89.9);
  --muted-foreground: oklch(0.7153 0 89.9);
  --popover: oklch(0.1445 0 89.9);
  --popover-foreground: oklch(0.9848 0 89.9);
  --card: oklch(0.1445 0 89.9);
  --card-foreground: oklch(0.9848 0 89.9);
  --border: oklch(0.3301 0 89.9);
  --input: oklch(0.3301 0 89.9);
  --primary: oklch(0.6463 0.068 303.5);
  --primary-foreground: oklch(0.9466 0 89.9);
  --secondary: oklch(0.6292 0.089 25);
  --secondary-foreground: oklch(0.9466 0 89.9);
  --tertiary: oklch(0.9848 0 89.9);
  --tertiary-foreground: oklch(0.2044 0 89.9);
  --accent: oklch(0.2686 0 89.9);
  --accent-foreground: oklch(0.9848 0 89.9);
  --destructive: oklch(0.5656 0.078 26.1);
  --destructive-foreground: oklch(0.9801 0.003 17.3);
  --ring: oklch(0.2686 0 89.9);
  --hero-primary: oklch(0.4738 0.088 298.5);
  --hero-primary-foreground: oklch(0.9848 0 89.9);
  --hero-secondary: oklch(0.5849 0.094 28);
  --hero-secondary-foreground: oklch(0.9848 0 89.9);
  --sidebar-background: oklch(0.2103 0.002 285.9);
  --sidebar-foreground: oklch(0.9676 0.001 286.4);
  --sidebar-primary: oklch(0.4878 0.087 264.4);
  --sidebar-primary-foreground: oklch(1 0 89.9);
  --sidebar-accent: oklch(0.2741 0.002 286);
  --sidebar-accent-foreground: oklch(0.9676 0.001 286.4);
  --sidebar-border: oklch(0.2741 0.002 286);
  --sidebar-ring: oklch(0.6232 0.075 259.8);
}

.disable-scrollbars {
  /* Chrome/Safari/Webkit */
  ::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}

.single-line-truncate-responsive {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  /*
   * The magic is in how the parent or element's width is defined.
   * If the parent uses flexible units (e.g., percentages, flex-grow)
   * or if you use vw/rem for the element's width, it will automatically adapt.
   */
  width: 95%; /* Example: 90% of its parent's width */
  margin: 0 auto; /* Center it */
}

@media (min-width: 640px) {
  .single-line-truncate-responsive {
    width: 85%; /* Example: 90% of its parent's width */
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop_shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.disable-scrollbars {
  /* Chrome/Safari/Webkit */
  ::-webkit-scrollbar {
    background: transparent;
    width: 0px;
  }
  /* Firefox */
  scrollbar-width: none;
  /* IE 10+ */
  -ms-overflow-style: none;
}

.single-line-truncate-responsive {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}

@media (min-width: 640px) {
  .single-line-truncate-responsive {
    width: 85%;
  }
}

